.dialogdemoBasicUsage #popupContainer {
    position: relative; }
  
  .dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px; }
  
  .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px; }
  
  .dialogdemoBasicUsage button {
    width: 200px; }
  
  .dialogdemoBasicUsage div#status {
    color: #c60008; }
  
  .dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
    margin-bottom: 0; }
  
  
  /*
  Copyright 2020 Google LLC. All Rights Reserved. 
  Use of this source code is governed by an MIT-style license that can be found
  in the LICENSE file at http://material.angularjs.org/HEAD/license.
  */