<!-- Footer -->
<div  th:fragment="footer">

	<footer>
        <div class="container">
            <div class="row justify-content-center">
            <div class="media">
              <div class="media-left media-middle">
                <img class="nsf-logo media-object" th:src="@{img/nsf_logo.gif}"   />
              </div>
              <div class="media-body">
                <span class="text-muted pull-left align-middle">This project is supported partly by the <a target="_blank" href="https://www.nsf.gov/">National Science Foundation</a> under the award number <a target="_blank" href="https://nsf.gov/awardsearch/showAward?AWD_ID=1730655">OAC-1730655</a></span>
                <p></p>
              </div>
            </div>
        </div>
        </div>
    </footer>
   
    
</div>

<!-- /footer -->