<div class="w3-panel w3-card">
	<div>
		<div class="reports-section-center">
			<h1 style="text-transform:none; text-align: center;">Data Sources</h1>
			<p>We integrate publications data from several journals which are used to be filter and search data. 
			In addition, we also collect the gene information(from GeneBank) and the drug information(from DrugBank). 
			You can download them if you are interested. 
			</p>
		</div>	
		<div>
			<div class="reports-section">
				<h1 style="text-transform:none; text-align: left; font-size: 25px;">Publications</h1>
				<!-- <p style="font-size:10px; color:orange;">was last updated on 9/14/2021.</p> -->
				<table style="padding-left:80px; padding-right:100px" cellspacing="50">
					<tbody>
						<tr>
							<td><a href="https://www.semanticscholar.org/cord19" style="font-size:14px; color:orange;">CORD-19</a></td>
							<td>The White House's COVID-19 open Research Dataset.</td>
						</tr>
						<tr>
							<td style="font-size:14px; color:orange;">COVID-19 dataset</td>
							<td>The Research Dataset is used for building this website.</td>
						</tr>
					</tbody>
				</table>
				<br/>
			</div>
			<br/>
			<br/>
			<div class="reports-section">
				<h1 style="text-transform:none; text-align: left; font-size: 25px;">GeneBank</h1>
				<table style="padding-left:80px; padding-right:100px" cellspacing="50">
					<tbody>
						<tr>
							<td><a href="https://www.ncbi.nlm.nih.gov/genbank/" style="font-size:14px; color:orange;">GeneBank</a></td>
							<td>We get the gene information from GeneBank, you can download from the link.</td>
						</tr>
					</tbody>
				</table>
				<br/>
			</div>
			<br/>
			<br/>
			<div class="reports-section">
				<h1 style="text-transform:none; text-align: left; font-size: 25px;">DrugBank</h1>
				<table style="padding-left:80px; padding-right:100px" cellspacing="50">
					<tbody>
						<tr>
							<td><a href="https://go.drugbank.com/releases/latest" style="font-size:14px; color:orange;">DrugBank</a></td>
							<td>We get the drug information from DrugBank, you can download from the link.</td>
						</tr>
					</tbody>
				</table>
				<br/>
			</div>
		</div>
		<br/>
		<br/>
	</div>
</div>