<div class="row" ng-controller="reports-controller">	
		<!-- <div id="Drug" class="tab-pane fade active" role="tabpanel"> -->
		<div class="reports-section">
			<h1 style="text-transform:none; text-align: left; font-size: 25px;">Drugs</h1>
			<p>Ranked drugs that are mentioned in COVID-19 publications.</p>
			
			<table style="padding-left:80px; padding-right:100px; width:600px" cellspacing="10">
				<thead>
					<tr>
						<td>Drugs</td>
						<td style="font-size:10px;color:grey">first 10 out of </td>
						<td>Publications</td>
					</tr>
					<tr ng-repeat="(key, value) in drugLenDict">
						<td ng-bind="$index+1"></td>
						<td>{{key}}</td>
						<td>{{value}}</td>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<br/>
			<br/>
		</div>		

</div>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  width: auto !important;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
</style>